<div class="row mt-5">
  <div class="col text-center">
      <h1>Lorem Ipsum blog!</h1>
      <p>&nbsp;</p>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-6">
        <h3>A blogging app </h3>
        <p>
          Built with Buffalo for the tutorial located at 
          <a href="https://mmikael.com/posts/">https://mmikael.com/</a>
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi facilisis orci vitae venenatis tempor. 
          Duis ut enim vel urna placerat consectetur. Vestibulum iaculis auctor velit, non pretium risus ornare sit amet. 
          Proin eu leo in erat viverra convallis. Maecenas id scelerisque quam. Etiam auctor metus nec tempus aliquam. 
          Nam tempor justo eu sem sodales efficitur. Maecenas consectetur dignissim sapien et gravida. Nulla a neque ante. 
        </p>
        <p>
          Donec blandit vitae orci ut luctus. Sed metus turpis, aliquet sed felis dictum, consequat interdum leo. 
          Phasellus elementum venenatis elementum. Nunc tincidunt nisl finibus nunc dictum, ut scelerisque est laoreet. 
          Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
          Morbi ultrices nulla varius, pharetra odio at, iaculis quam. 
        </p>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</div>